.cell {
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

#container {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;
  display: grid;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
}

#button-container {
  display: flex;
  flex-direction: column;
}

#color-picker {
  height: 100px;
  width: 100px;
}

#clear-button,
#size,
#rainbow-button {
  height: 50px;
  margin-top: 10px;
}

#rainbow-button.active {
  background-color: #ff80ff;
  color: white;
  font-weight: bold;
  border: 2px solid black;
}